<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Table</title>

        <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="../../../../static/favicon.ico">

        <link rel="icon" type="image/png" href="../../../../static/logo.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../../static/logo.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../../static/logo.png" sizes="64x64">
        <link rel="icon" type="image/png" href="../../../../static/logo.png" sizes="160x160">
        <link rel="icon" type="image/png" href="../../../../static/logo.png" sizes="192x192">

        <!-- END Icons -->

        <!-- jexcel v4-->
        {#<script src="https://jexcel.net/v4/jexcel.js"></script>
        <link rel="stylesheet" href="https://jexcel.net/v4/jexcel.css" type="text/css" />
        <script src="https://jexcel.net/v4/jsuites.js"></script>
        <link rel="stylesheet" href="https://jexcel.net/v4/jsuites.css" type="text/css" />#}

        <!-- jexcel v3 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://bossanova.uk/jexcel/v3/jexcel.js"></script>
        <link rel="stylesheet" href="https://bossanova.uk/jexcel/v3/jexcel.css" type="text/css" />
        <script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
        <link rel="stylesheet" href="https://bossanova.uk/jsuites/v2/jsuites.css" type="text/css" />

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7CRoboto:300,400,400italic,600,700">

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/datatables/jquery.dataTables.min.css">

        <!-- Bootstrap and OneUI CSS framework -->
        <link rel="stylesheet" href="../../../../static/oneui/assets/css/bootstrap.min.css">
        <link rel="stylesheet" id="css-main" href="../../../../static/oneui/assets/css/oneui.css">

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="../../../../static/oneui/assets/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->
    </head>
    {% set focus = false %}
    <body style="zoom: 80%;" onload="{% if focus %}FocusAddColumnButton();{% endif %}">
        <!-- Page Container -->
        <!--
            Available Classes:

            'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

            'sidebar-l'                  Left Sidebar and right Side Overlay
            'sidebar-r'                  Right Sidebar and left Side Overlay
            'sidebar-mini'               Mini hoverable Sidebar (> 991px)
            'sidebar-o'                  Visible Sidebar by default (> 991px)
            'sidebar-o-xs'               Visible Sidebar by default (< 992px)

            'side-overlay-hover'         Hoverable Side Overlay (> 991px)
            'side-overlay-o'             Visible Side Overlay by default (> 991px)

            'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

            'header-navbar-fixed'        Enables fixed header
        -->
        <div id="page-container" class="header-navbar-fixed" style="height:100%;">

            <!-- Header -->
            <header id="header-navbar" class="content-mini content-mini-full">
                <!-- Header Navigation Right -->
                <ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button" style="margin-top:0; padding-left:10px;">
                                <!--<img src="../../../../static/oneui/assets/img/avatars/avatar10.jpg" alt="Avatar">-->
                                <i class="si si-user"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Profile</li>
                                <li>
                                    <a tabindex="-1" href="javascript:void(0)">
                                        {{ current_user.email }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Actions</li>
                                <li>
                                    <a tabindex="-1" href="{{ url_for('user.dashboard') }}">
                                        <i class="si si-grid pull-right"></i>My Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="{{ url_for('user.settings') }}">
                                        <i class="si si-settings pull-right"></i>Settings
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="{{ url_for('user.contact') }}">
                                        <i class="si si-bubbles pull-right"></i>Contact us
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="{{ url_for('user.logout') }}">
                                        <i class="si si-logout pull-right"></i>Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- END Header Navigation Right -->

                <!-- Header Navigation Left -->
                <ul class="nav-header pull-left">
                    <li class="hidden-md hidden-lg">
                        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                            <i class="fa fa-navicon"></i>
                        </button>
                    </li>
                    <li>
                        <!-- Opens the Apps modal found at the bottom of the page, before including JS code -->
                        <button class="btn btn-default pull-right" type="button" onclick="BackToTop()">
                            <i class="fa fa-angle-up"></i>&nbsp;&nbsp;<span class="font-w300">Back to Top</span>
                        </button>
                    </li>
                    <li class="visible-xs">
                        <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
                        <button class="btn btn-default" style="display:none" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </li>
                    <li class="js-header-search header-search" style="display:none">
                        <form class="form-horizontal" action="base_pages_search.html" method="post">
                            <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
                                <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Search..">
                                <span class="input-group-addon"><i class="si si-magnifier"></i></span>
                            </div>
                        </form>
                    </li>
                    <li>
                        <div class="col-sm-7">
                            <h1 class="page-heading">
                                <a href="{{ url_for('user.dashboard') }}">{{ table_name.replace('_',' ')|capitalize }}</a>
                            </h1>
                        </div>
                    </li>
                </ul>
                <!-- END Header Navigation Left -->
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container" style="height:100%;overflow:hidden;">
                <!-- Page Header -->
                {#<div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-7">
                            <h1 class="page-heading">
                                <a href="{{ url_for('user.dashboard') }}">{{ table_name.replace('_',' ')|capitalize }}</a>
                            </h1>
                        </div>
                        <div class="col-sm-5 text-right hidden-xs">
                            <ol class="breadcrumb push-10-t">
                                <li>Tables</li>
                                <li><a class="link-effect" href="">DataTables</a></li>
                            </ol>
                        </div>
                        <div style="float:right;height:100%;margin-bottom:10px;max-width:800px;">
                            {% for message in get_flashed_messages(with_categories=True) %}
                                {% set category = 'danger' if message[0] == 'error' else 'success' %}
                                <div class="ribbon-box btn-{{ category }} font-w600" style="padding:20px;min-height:56px !important;margin-top:-10px;position:relative">
                                    {{ message[1] }}
                                </div>
                                {% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>#}
                <!-- END Page Header -->

                <!-- Page Content -->
                <div class="content" style="padding:15px 0 0 0;width:100%;height:100%;overflow:hidden;">
                    <div class="pull-right">
                        <span id="success-message" style="margin-left:10px;visibility:hidden;color:green;font-size:14px;">Table updated successfully.</span><br /><br />
                    </div>
                    <span id="delete-selected" class="font-w300" style="cursor:pointer;margin-left:15px;margin-bottom:10px;visibility:hidden;color:red; border:1px solid red;border-radius:4px;padding:10px;" onclick="DeleteRows()"><i class="fa fa-trash-o" style="margin-right:10px;"></i>Delete <span id="selected_rows">0</span> selected row(s)</span><br /><br />
                    <div id="jtable-wrapper" name="wrapper" style="padding:0 10px 10px 10px;overflow:scroll;height:100vh;">
                        <div id="jtable" style="position:relative;">
                            <div id="AddColumnButton" tabindex="1"></div>
                        </div>
                    </div>
                    <h5 class="font-w300" id="row-count" style="padding:15px 0 0 20px;">{{ row_count }} rows</h5>
                    <!-- END Dynamic Table Full Pagination -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->
        <div class="modal in" id="edit-column-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="width:500px;height:200px;">
                <div class="modal-content">
                    {#<form class="form-horizontal push-5-t" action="{{ url_for('user.update_column') }}" method="post">#}
                        <div class="block block-themed block-transparent remove-margin-b">
                            <div class="block-header bg-primary-dark">
                                <ul class="block-options">
                                    <li>
                                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                    </li>
                                </ul>
                                <h3 class="font-w300 text-white" id="update-title">Update column</h3>
                            </div>
                            <div class="block-content">
                                <div class="form-group" style="width:80%;margin:0 auto;">
                                    <div class="input-group">
                                        <label for="column_name">Column Name</label>
                                        <input required class="form-control contact" autofocus style="box-sizing: border-box;width:100%; border:1px solid #d3d3d3;" type="text" id="column_name" name="column_name" value="" onblur="" />
                                        <input required type="hidden" id="old_column_name" name="old_column_name" value="" />
                                        <input required type="hidden" id="table_name" name="table_name" value="{{ table_name }}" />
                                    </div>
                                    <br /><br />
                                    <label for="column_type">Column Type</label>
                                    <div class="input-group">
                                        <input required readonly class="form-control contact" style="margin-right:0;box-sizing: border-box;width:100%; border:1px solid #d3d3d3;" type="text" id="column_type" name="" value="" onblur="" />
                                        <div class="input-group-btn text-center">
                                            <button class="btn btn-default" data-toggle="dropdown" type="button" aria-expanded="false"><span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" id="column_type_dropdown" style="min-width:250px;">
                                                <li style="padding:10px;"><span class="font-w300">Field Type</span></li>
                                                <li class="divider"></li>
                                                {% for type in types %}
                                                    <li class="column_types" style="cursor:pointer;padding:10px;position:sticky;z-index:700;" onclick="UpdateColumn('{{ type['name'] }}', '{{ type['type'] }}');">
                                                        <span id="{{ type['type'] }}" class="font-w300">{{ type['name'] }}</span>
                                                    </li>
                                                {% endfor %}
                                                <li style="cursor:pointer;padding:10px;position:sticky;z-index:700;display:none" onclick="DeleteColumn(this);">
                                                    <span class="font-w300" style="color:red"><i class="fa fa-trash-o" style="margin-right:10px;"></i>Delete column</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group" style="padding-right:20px;">
                                <select id="selected_type" name="selected_type" style="display:none">
                                    <option id="selected_val" value="" selected></option>
                                </select>
                                <button class="btn btn-sm btn-default" type="button" id="cancel-update-column" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-sm btn-primary" type="submit" id="save-update-column" onclick="SaveColumn(this);"><i class="fa fa-check"></i> Save</button>
                            </div>
                        </div>
                    {#</form>#}
                </div>
            </div>
        </div>
        <!-- END Apps Modal -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src="../../../../static/oneui/assets/js/core/jquery.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/bootstrap.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.appear.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.countTo.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.placeholder.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/js.cookie.min.js"></script>
        <script src="../../../../static/oneui/assets/js/app.js"></script>

        <!-- Page JS Plugins -->
        <script src="../../../../static/oneui/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>

        <!-- Page JS Code -->
        <script src="../../../../static/oneui/assets/js/pages/base_tables_datatables.js"></script>

        <!-- jExcel code -->

        <!-- Initialization -->
        <script>
            var rows = JSON.parse('{{ rows | tojson }}');
            var columns = JSON.parse('{{ cols | tojson }}');
            var styles = {};

            var changed = function(instance, cell, x, y, value) {
                // The row has been selected
                if(x === '0'){
                    return;
                }

                // The index of the row and cell we're changing
                var cellIndex = cell.cellIndex;
                var rowIndex = cell.parentNode.rowIndex;
                var idColumnIndex = GetColumnIndex();

                // Get the column name of the cell we're changing
                var col_name = document.getElementsByTagName('table')[0].rows[0].cells[cellIndex].innerText;

                // Get the row item's id
                var item_id = document.getElementsByTagName('table')[0].rows[rowIndex].cells[idColumnIndex].innerText;

                UpdateTable(item_id, col_name, value);
            };

            // Style the cells on load
            var loaded = function(instance) {
                var r = rows.length;
                var c = columns.length;

                for (var i = 1; i< c; i++){
                    for (var j = 0; j< r; j++){
                        var cellName = jexcel.getColumnNameFromId([i, j]);
                        styles[cellName] = 'font-weight:300 !important;text-align:left;height:45px;background-color:white;vertical-align:middle;padding:5px 10px 5px 10px;';
                    }
                }
            };

            var clicked = function(instance, x1, y1, x2, y2, origin) {
            };

            var table = jexcel(document.getElementById('jtable'), {
                data: rows,
                lazyLoading: true,
                columnDrag: true,
                columns: columns,
                onchange: changed,
                columnSorting:false,
                onload: loaded,
                onselection: clicked,
                style: styles,
                pagination:false,
            });
        </script>

        <!-- CSS styling -->
        <script type="text/javascript">
            function SetStyles() {
                var tbl = document.getElementById('jtable');
                tbl.style.minHeight = '600px';

                // Style the headers
                StyleHeaders();

                // Create the Header Buttons
                CreateEditButtons();

                // Miscellaneous styling and creations
                StyleCheckBoxes(tbl);
                CreateNewRowButton(tbl);
                CreateNewColumnButton(tbl);
                StyleSelectBoxes();
            }

            // Style the headers. This is called right before the page is done loading.
            function StyleHeaders(){

                var headers = document.getElementsByTagName('thead')[0].getElementsByTagName('td');
                for (var i = 0; i < headers.length; i++) {
                    headers[i].className = 'font-w300 header-item';
                    headers[i].style.cssText = 'height:55px;background-color:white;vertical-align:middle;width:300px;text-transform:none;padding:5px 10px 5px 10px;';

                    // Display the column type
                    {#if (i === 0)#}
                    {#    continue;#}
                    {##}
                    {#var span = document.createElement('span');#}
                    {#var t = table.options.columns[i].type;#}
                    {#span.innerText = '(' + t + ')';#}
                    {#span.style.cssText = 'text-transform:capitalize';#}
                    {#headers[i+1].appendChild(document.createElement('br'));#}
                    {#headers[i+1].appendChild(span);#}
                }

                // Add a select all checkbox to the first column
                var select_all_header = document.getElementsByClassName('header-item')[1];
                CreateSelectAllBox(select_all_header);

                return headers;
            }

            function StyleLastRow(){
                var rows = document.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                var row_length = rows.length;
                var last_row = rows[row_length - 1];
                var columns = last_row.getElementsByTagName('td');
                for (var i = 0; i < columns.length; i++) {

                    // Set the basic style on the cell
                    columns[i].style.cssText = 'height:45px;vertical-align:middle;padding:5px 10px 5px 10px;';

                    // The first column and the others get different style
                    if (i === 0){
                        columns[i].className = 'row-item';
                    }
                    else{
                        columns[i].className = 'font-w300 row-item';
                        columns[i].style.cssText += 'font-weight:300 !important;text-align:left;background-color:white;';
                    }
                }

                // Create the select boxes and the new Add Row button
                StyleCheckBoxes(last_row);
                return CreateNewRowButton(document.getElementById('jtable'));
            }

            // Styles the last column
            function StyleLastColumn(){
                var tbl = document.getElementsByTagName('table')[0];
                var row = tbl.rows[0];
                var last_col = row.cells[row.cells.length - 1];
                last_col.className = 'font-w300 row-item';
                last_col.style.cssText = 'height:35px;background-color:white;vertical-align:middle;min-width:300px;padding:5px 10px 5px 10px;';
                last_col.innerText = '';

                // Set the last column's width
                table.setWidth(last_col, 250);

                return last_col;
            }
            
            // Styles all checkboxes to be centered in the column
            function StyleCheckBoxes(table) {
                var checkBoxes = [].slice.call(table.querySelectorAll('input[type=checkbox]'));
                for (var i=0; i<checkBoxes.length; i++ ) {
                    var parent = checkBoxes[i].parentNode;
                    var wrapper = document.createElement('label');
                    wrapper.className = "css-input css-checkbox css-checkbox-sm css-checkbox-primary";

                    // set the wrapper as child (instead of the element)
                    parent.replaceChild(wrapper, checkBoxes[i]);

                    // set element as child of wrapper
                    wrapper.appendChild(checkBoxes[i]);
                    wrapper.appendChild(document.createElement('span'));
                    wrapper.parentElement.classList += ' text-center';
                    wrapper.parentElement.style.cssText -= 'text-align: left;';
                }
            }

            // Style the select checkboxes in the first column
            function StyleSelectBoxes(){
                var rows = document.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                var select_boxes = [];
                for (var i = 0; i< rows.length; i++){
                    select_boxes.push(table.records[i][0].childNodes[0].getElementsByTagName('input')[0]);
                }

                // remove the last element, since it's the plus button
                select_boxes.pop();

                // set the class on the select boxes
                for (var i = 0; i< select_boxes.length; i++){
                    select_boxes[i].classList += 'select-box';
                    select_boxes[i].onchange=function(){RowSelected()};
                }
            }
        </script>

        <!-- Update the Table-->
        <script type="text/javascript">

            // Updates the table after a change. Uses JQuery.
            // Displays a message on successful update
            function UpdateTable(row_id, col_name, val) {
                // Format the column name to be found in the database
                col_name = col_name.toLowerCase().replace(' ', '_');
                $.ajax({
                    url: '{{ url_for("user.update_table") }}',
                    type: 'POST',
                    data: {'row': row_id, 'col': col_name, 'val': val},
                    success: function (response) {
                        if ('result' in response && response['result'] === true){
                            var message = document.getElementById('success-message');
                            message.innerText = 'Table updated successfully.';
                            message.style.visibility = 'visible';
                            setTimeout(() => {  HideSuccessMessage(); }, 4000);
                        }
                    }
                });
            }

            // Gets the row's id from the table to know which row to update in the database
            function GetColumnIndex(column){
                var headers = document.getElementsByTagName('thead')[0].getElementsByTagName('td');
                for (var i = 0; i < headers.length; i++) {
                    if (headers[i].innerText === column){
                        return headers[i].cellIndex;
                    }
                }
            }

            // Hides the success message after the table has been updated.
            function HideSuccessMessage() {
                document.getElementById('success-message').style.visibility = 'hidden';
            }
        </script>

        <!-- Create and Delete Rows and Columns -->
        <script type="text/javascript">

            // Add a new row at the bottom of the list
            function AddRow() {
                var tbl = document.getElementsByTagName('table')[0];
                var rows = tbl.rows;
                var last_row = rows[rows.length - 1].cells[1];
                var second_last_row = rows[rows.length - 2].cells[1];

                // remove the 'new' button from the former last row
                // and clone it from the one before it
                last_row.innerHTML = second_last_row.innerHTML;
                var button = last_row.getElementsByClassName('select-box')[0];
                button.onchange=function(){RowSelected()};

                // Reset the selection before creating the row
                table.resetSelection();

                // Add a new row
                table.insertRow();

                // Style the new row
                var b = StyleLastRow();

                // Generate the new row id
                GenerateRowId(rows);

                // Update the row count
                var count = parseInt('{{ row_count }}') + 1;
                document.getElementById('row-count').innerText = count + ' rows';

                // focus on the last row
                b.focus();

            }

            // Add a new column at the end of the columns
            function AddColumn() {

                // Add a new column
                table.insertColumn();

                // Style the new column
                var header = StyleLastColumn();

                // Add a button to the new column's header
                var button = CreateChangeTypeButton(header, true);
                var div = CreateChangeTypeDiv(button);
                header.appendChild(div);

                // open the edit modal
                $('#edit-column-modal').modal('toggle', button);

                // Focus on the button
                FocusAddColumnButton();

            }

            function DeleteRows(){
                // Get the rows to be deleted
                var checkedBoxes = [].slice.call(document.querySelectorAll('input[class=select-box]:checked'));
                var count = checkedBoxes.length;
                var rows_to_delete = [];

                // We need to know which column the row's id is in, to delete it
                var idColumnIndex = GetColumnIndex("Record Id");

                for (var i = 0; i < count; i++){
                    var rowIndex = checkedBoxes[i].parentNode.parentNode.parentNode.rowIndex;

                    // Get the row item's id
                    var item_id = document.getElementsByTagName('table')[0].rows[rowIndex].cells[idColumnIndex].innerText;
                    rows_to_delete.push(item_id);
                }

                if (confirm("Are you sure you want to delete " + count + " row(s)? This can't be undone.")){
                    // Delete the rows
                    $.ajax({
                        url: '{{ url_for("user.delete_rows") }}',
                        type: 'POST',
                        data: {'rows': JSON.stringify(rows_to_delete)},
                        success: function (response) {
                            var message = document.getElementById('success-message');
                            message.innerText = count + ' row(s) have been deleted successfully.';
                            message.style.visibility = 'visible';
                            message.focus();
                            setTimeout(() => {  Refresh(); }, 1500);

                        }
                    });
                }
            }
        </script>

        <!-- Button functions -->
        <script type="text/javascript">

            // Create the edit button in each header
            function CreateEditButtons(){
                // Get the headers that we will be creating buttons for
                var headers = document.getElementsByTagName('thead')[0].getElementsByTagName('td');
                // Create the edit button for the headers
                for (var i = 1; i< headers.length; i++){
                    // only create edit buttons for headers that aren't readOnly.
                    // We use +1 here since the data columns and the headers are offset by 1
                    if (!table.options.columns[i-1].readOnly === true && headers[i].innerText !== ''){
                        var button = CreateChangeTypeButton(headers[i]);
                        var div = CreateChangeTypeDiv(button);
                        headers[i].appendChild(div);
                    }
                }
            }

            // Create the + button at the beginning of each new row
            function CreateNewRowButton(){
                var tbl = document.getElementsByTagName('table')[0];
                var rows = tbl.rows;
                var last_row = rows[rows.length - 1];
                var cell = last_row.cells[1];

                // Remove the old checkbox
                cell.getElementsByTagName('label')[0].remove();

                // Add the new row button
                var new_button = document.createElement('i');
                new_button.className = "si si-plus fa-lg";
                new_button.style.cssText = "cursor:pointer;";
                new_button.onclick=function(){AddRow()};
                cell.appendChild(new_button);

                return new_button;

            }

            function CreateNewColumnButton(){
                var tbl = document.getElementsByTagName('table')[0];
                var row = tbl.rows[0];
                var height = row.cells[0].offsetHeight + 1;

                var new_column = document.getElementById("AddColumnButton");

                // Add the new column button
                var new_button = document.createElement('i');
                new_button.className = "si si-plus fa-lg";
                new_button.id = 'add-column-button';
                new_column.appendChild(new_button);

                new_column.className = 'text-center';
                new_column.style.cssText = "padding-top:17px;cursor:pointer; border:1px solid #d3d3d3;border-radius:4px;width:65px;height:" + height + "px; position:absolute;top:1px;right:-55px;";
                new_column.onclick=function(){AddColumn()};
            }

            function CreateChangeTypeButton(header, isNewColumn=false){
                var button = document.createElement('button');
                button.classList = "btn btn-xs btn-default";
                button.setAttribute("data-toggle", "modal");
                button.setAttribute("data-target", "#edit-column-modal");
                button.setAttribute("new-column", String(isNewColumn));
                button.type = "button";
                button.id = header.cellIndex - 1; // We do -1 here because the cellIndex and the column numbers are offset by 1
                button.name = header.innerText;

                var span = document.createElement('span');
                span.classList = 'si si-pencil';
                button.appendChild(span);

                return button;
            }

            function CreateChangeTypeDiv(button){
                var div = document.createElement('div');
                div.classList = "input-group-btn text-center";
                div.style.cssText = 'width:34px;float:right;';
                div.appendChild(button);

                return div;
            }
        </script>

        <!-- Miscellaneous helper functions -->
        <script type="text/javascript">
            function Refresh(){
                // Refresh the success message
                var message = document.getElementById('success-message');
                message.style.removeProperty('color');
                message.style.cssText += 'color:green;';

                // Refresh
                var url = "{{ url_for('user.table',  table_id='DUMMY') }}";
                url = url.replace(/DUMMY/, '{{ table_id }}');
                window.location.href = url;
            }

            function GenerateRowId(rows){
                // Generate an ID for the new row
                $.ajax({
                    url: '{{ url_for("user.new_row_id") }}',
                    type: 'GET',
                    success: function (response) {
                        if ('result' in response && response['result'] !== null){
                            // Save the new row to the DB
                            var new_id = response['result'];
                            $.ajax({
                                url: '{{ url_for("user.save_new_row") }}',
                                type: 'POST',
                                data: {'row-id': new_id},
                                success: function (response) {
                                    try{
                                        var idColumnIndex = GetColumnIndex("Record Id");
                                        var createdColumnIndex = GetColumnIndex("Created On");
                                        var updatedColumnIndex = GetColumnIndex("Last Updated");
                                        rows[rows.length - 2].cells[idColumnIndex].innerText = new_id;
                                        rows[rows.length - 2].cells[createdColumnIndex].innerText = GetTodayDate();
                                        rows[rows.length - 2].cells[updatedColumnIndex].innerText = GetTodayDate();
                                    } catch(err){
                                        rows[rows.length - 1].remove();
                                    }

                                },
                                error: function (xhr) {
                                    rows[rows.length - 1].remove();
                                }
                            });
                        }
                    }
                });
            }

            // When the edit column modal is shown
            $('#edit-column-modal').on('shown.bs.modal', function (e) {

                // If it's a new column that opened this modal, then clicking cancel will delete the column
                if (e.relatedTarget.getAttribute('new-column') === "true"){
                    document.getElementById('cancel-update-column').setAttribute("delete-column", String(true));
                    document.getElementById('update-title').innerText = 'Add a new column'
                }
                else{
                    document.getElementById('cancel-update-column').setAttribute("delete-column", String(false));
                    document.getElementById('update-title').innerText = 'Update column'
                }

                // Save this button's id to the save button in the modal, so we can update the button as necessary
                document.getElementById('save-update-column').setAttribute('edit-button-id', e.relatedTarget.id);

                var id = e.relatedTarget.id;
                var name = e.relatedTarget.name;
                var type = table.options.columns[id].type;

                // Set the column's name in the modal box
                document.getElementById('column_name').value = name;
                document.getElementById('old_column_name').value = name;

                UpdateColumn(name, type);

            });

            // When the edit column modal is hidden
            $('#edit-column-modal').on('hide.bs.modal', function (e) {
                var column_name = document.getElementById('column_name');
                var column_type = document.getElementById('column_type');
                var cancel_button = document.getElementById('cancel-update-column').getAttribute("delete-column");


                // reset the styles on the inputs
                column_name.style.removeProperty('background-color');
                column_name.style.removeProperty('border');
                column_name.style.cssText += 'border: 1px solid #d3d3d3';
                column_type.style.removeProperty('background-color');

                // Delete the column if the modal closes and it's a new column without a name
                if (column_name.value === "" && cancel_button === "true"){
                   table.deleteColumn();
                }
            });

            function UpdateColumn(name, type){
                document.getElementById("selected_val").value = type;
                var types = document.getElementsByClassName('column_types');

                for (var i = 0; i < types.length; i++){
                    var li = types[i];
                    var span = li.getElementsByTagName('span')[0];

                    // set the style on the selected list item
                    if (span.id === type){
                        document.getElementById('column_type').value = span.innerText;
                        li.style.cssText += ' border:1px solid #d3d3d3;border-radius:4px;background-color:#f5f5f5';
                    }
                    // otherwise remove the style
                    else{
                        li.style.removeProperty('border');
                        li.style.removeProperty('border-radius');
                        li.style.removeProperty('background-color');
                    }
                }
            }

            function SaveColumn(sel){
                var col = document.getElementById('column_name');
                var column_name = col.value;

                // if the column name is empty, then don't allow the user to save
                if (column_name === ''){
                    col.style.cssText += 'border:1px solid red; background-color:#ffcccb;';
                    return;
                }

                // if the column name is empty, then don't allow the user to save
                if (document.getElementById('column_type').value === ''){
                    document.getElementById('column_type').style.cssText += 'border:1px solid red; background-color:#ffcccb;';
                    return;
                }

                var old_column_name = document.getElementById('old_column_name').value;
                var table_name = document.getElementById('table_name').value;
                var selected_type = document.getElementById('selected_val').value;

                document.getElementById(sel.getAttribute('edit-button-id')).setAttribute("new-column", String(false));

                $.ajax({
                    url: '{{ url_for("user.update_column") }}',
                    type: 'POST',
                    beforeSend: UpdateTitle(),
                    //beforeSend:$('#edit-column-modal').modal('toggle'),
                    complete: UpdateModal(),
                    data: {'column_name': column_name, 'old_column_name': old_column_name, 'table_name': table_name, 'selected_type': selected_type},
                    success: function (response) {
                        if ('result' in response && response['result'] === true){
                            var message = document.getElementById('success-message');
                            message.innerText = "Column '" + old_column_name + "' has been updated successfully.";
                            message.style.visibility = 'visible';
                            message.focus();
                            setTimeout(() => {  Refresh(); }, 1500);
                        }
                        else{
                            var message = document.getElementById('success-message');
                            message.innerText = 'There was an error updating this column.';
                            message.style.cssText += 'color:red;';
                            message.style.visibility = 'visible';
                            message.focus();
                            setTimeout(() => {  Refresh(); }, 1500);
                        }
                    },
                        error: function (xhr) {
                            var message = document.getElementById('success-message');
                            message.innerText = 'There was an error updating this column.';
                            message.style.cssText += 'color:red;';
                            message.style.visibility = 'visible';
                            message.focus();
                            setTimeout(() => {  Refresh(); }, 1500);
                        }
                });

            }

            function RowSelected() {
                var checkedBoxes = document.querySelectorAll('input[class=select-box]:checked').length;

                if (checkedBoxes > 0){
                    document.getElementById('selected_rows').innerText = checkedBoxes;
                    document.getElementById('delete-selected').style.visibility = 'visible';
                }
                else {
                    document.getElementById('delete-selected').style.visibility = 'hidden';
                }
            }

            function GetTodayDate(){
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                today = mm + '/' + dd + '/' + yyyy;
                return today;
            }

            function UpdateTitle(){
                var title = document.getElementById('update-title');

                if (!title.innerText.includes('.')){
                    title.innerText = 'Updating column in the database.';
                }

                if (!title.innerText.endsWith('....')){
                    title.innerText += '.';
                }
                else {
                    title.innerText = 'Updating column in the database.';
                }

                setTimeout(() => {  UpdateTitle(); }, 500);
            }

            function UpdateModal(){
                $('#edit-column-modal').modal('toggle');
                document.getElementById('update-title').innerText = "Update column";
            }

            function CreateSelectAllBox(select_all_header){
                var wrapper = document.createElement('label');
                wrapper.className = "css-input css-checkbox css-checkbox-sm css-checkbox-primary";

                var checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.id = 'select-all-box';
                checkbox.className = 'select-all-box';
                checkbox.onclick=function(){SelectAll(this)};

                // set checkbox as child of wrapper
                wrapper.appendChild(checkbox);
                wrapper.appendChild(document.createElement('span'));

                select_all_header.appendChild(wrapper);

                // style the checkbox's header div
                wrapper.parentElement.classList += ' text-center';
                wrapper.parentElement.style.removeProperty('text-align');
                wrapper.parentElement.style.removeProperty('background-color');
                wrapper.parentElement.style.cssText += 'background-color:white';

            }

            function BackToTop(){
                window.location.href='#AddColumnButton';
            }

            function Alert(){
                alert("Test");
            }
        </script>


        <!-- Old unimplemented code ********************** -->
        <script>
            function DeleteColumn(sel, col_name){
                if (confirm("Are you sure you want to delete this column? This can't be undone.")) {
                    // Delete the column
                    $.ajax({
                        url: '{{ url_for("user.delete_column") }}',
                        type: 'POST',
                        data: {'col': JSON.stringify(col_name)},
                        success: function (response) {
                            window.location.href='{{ url_for('user.dashboard') }}';
                        },
                        error: function (xhr) {
                            window.location.href='{{ url_for('user.dashboard') }}';
                        }
                    });
                }
            }

            function FocusAddColumnButton(){
                window.location.href='#AddColumnButton';
            }
            function SelectAll(sel) {
                var checkboxes = document.getElementsByClassName('select-box');
                if (sel.checked){
                    for(var i = 0; i < checkboxes.length; i++){
                        checkboxes[i].checked = true;
                    }

                    // Show the delete selected button
                    document.getElementById('selected_rows').innerText = document.querySelectorAll('input[class=select-box]:checked').length;
                    document.getElementById('delete-selected').style.visibility = 'visible';
                }
                else{
                    for(var i = 0; i < checkboxes.length; i++){
                        checkboxes[i].checked = false;
                    }

                    // Hide the delete selected button
                    document.getElementById('delete-selected').style.visibility = 'hidden';
                }
            }
            function RenameHeader(sel){
                var cellIndex = sel.cellIndex;
                var header = document.getElementsByTagName('thead')[0].getElementsByTagName('td')[cellIndex];
                var input = document.createElement('input');

                header.appendChild(input);
                input.onblur = function(){header.innerText = input.value};
            }
        </script>

        <!-- Style the table right before the page finishes loading -->
        <script>
            SetStyles();
        </script>
    </body>
</html>