<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Table</title>

        <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="../../../../static/oneui/assets/img/favicons/favicon.png">

        <link rel="icon" type="image/png" href="../../../../static/oneui/assets/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../../static/oneui/assets/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../../static/oneui/assets/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../../../../static/oneui/assets/img/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="../../../../static/oneui/assets/img/favicons/favicon-192x192.png" sizes="192x192">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7CRoboto:300,400,400italic,600,700">

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="../../../../static/oneui/assets/js/plugins/datatables/jquery.dataTables.min.css">

        <!-- Bootstrap and OneUI CSS framework -->
        <link rel="stylesheet" href="../../../../static/oneui/assets/css/bootstrap.min.css">
        <link rel="stylesheet" id="css-main" href="../../../../static/oneui/assets/css/oneui.css">

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="../../../../static/oneui/assets/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->
    </head>
    {% set focus = false %}
    <body onload="TableScroll(); {% if focus %}FocusAddColumnButton();{% endif %}">
        <!-- Page Container -->
        <!--
            Available Classes:

            'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

            'sidebar-l'                  Left Sidebar and right Side Overlay
            'sidebar-r'                  Right Sidebar and left Side Overlay
            'sidebar-mini'               Mini hoverable Sidebar (> 991px)
            'sidebar-o'                  Visible Sidebar by default (> 991px)
            'sidebar-o-xs'               Visible Sidebar by default (< 992px)

            'side-overlay-hover'         Hoverable Side Overlay (> 991px)
            'side-overlay-o'             Visible Side Overlay by default (> 991px)

            'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

            'header-navbar-fixed'        Enables fixed header
        -->
        <div id="page-container" class="header-navbar-fixed">

            <!-- Header -->
            <header id="header-navbar" class="content-mini content-mini-full">
                <!-- Header Navigation Right -->
                <ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                                <img src="../../../../static/oneui/assets/img/avatars/avatar10.jpg" alt="Avatar">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Profile</li>
                                <li>
                                    <a tabindex="-1" href="base_pages_inbox.html">
                                        <i class="si si-envelope-open pull-right"></i>
                                        <span class="badge badge-primary pull-right">3</span>Inbox
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="base_pages_profile.html">
                                        <i class="si si-user pull-right"></i>
                                        <span class="badge badge-success pull-right">1</span>Profile
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="javascript:void(0)">
                                        <i class="si si-settings pull-right"></i>Settings
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Actions</li>
                                <li>
                                    <a tabindex="-1" href="base_pages_lock.html">
                                        <i class="si si-lock pull-right"></i>Lock Account
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="base_pages_login.html">
                                        <i class="si si-logout pull-right"></i>Log out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- END Header Navigation Right -->

                <!-- Header Navigation Left -->
                <ul class="nav-header pull-left">
                    <li class="hidden-md hidden-lg">
                        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                            <i class="fa fa-navicon"></i>
                        </button>
                    </li>
                    <li>
                        <!-- Opens the Apps modal found at the bottom of the page, before including JS code -->
                        <button class="btn btn-default pull-right" data-toggle="modal" data-target="#apps-modal" type="button">
                            <i class="si si-grid"></i>
                        </button>
                    </li>
                    <li class="visible-xs">
                        <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
                        <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </li>
                    <li class="js-header-search header-search">
                        <form class="form-horizontal" action="base_pages_search.html" method="post">
                            <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
                                <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Search..">
                                <span class="input-group-addon"><i class="si si-magnifier"></i></span>
                            </div>
                        </form>
                    </li>
                </ul>
                <!-- END Header Navigation Left -->
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-7">
                            <h1 class="page-heading">
                                {{ table_name.replace('_',' ')|capitalize }}
                            </h1>
                        </div>
                        <div class="col-sm-5 text-right hidden-xs">
                            <ol class="breadcrumb push-10-t">
                                <li>Tables</li>
                                <li><a class="link-effect" href="">DataTables</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END Page Header -->

                <!-- Page Content -->
                <div class="content" style="width:100%;padding:0">
                    <!-- Dynamic Table Full Pagination -->
                    <div class="block">
                        <div class="block-content" style="padding-left:0;">
                            <span id="success-message" style="margin-left:10px;visibility:hidden;color:green;font-size:14px;">Table updated successfully.</span><br /><br />
                            <span id="delete-selected" class="font-w300" style="cursor:pointer;margin-left:15px;margin-bottom:10px;visibility:hidden;color:red; border:1px solid red;border-radius:4px;padding:10px;" onclick="DeleteRows()"><i class="fa fa-trash-o" style="margin-right:10px;"></i>Delete <span id="selected_rows">0</span> selected row(s)</span><br /><br />
                            <!-- DataTables init on table by adding .js-dataTable-full-pagination class, functionality initialized in js/pages/base_tables_datatables.js -->
                            <table class="table table-bordered js-dataTable-full-pagination js-table-checkable dataTable" id="table">
                                <thead>
                                    <tr>
                                        {% for col in cols %}
                                            <th class="font-w300 sorting_disabled" {% if loop.first %}aria-controls="disabled" aria-sort="none"{% endif %} style="background-color:white;vertical-align:middle;width:300px;text-transform:none;{% if loop.first %}padding:0 0 0 10px;position:sticky;left:0;z-index:700;{% else %}padding:0; !important;{% endif %}">
                                                <div class="form-group" style="width:100%;margin-bottom:0">
                                                    <div class="input-group" style="width:100%;">
                                                        {% if loop.first %}
                                                        <label class="css-input css-checkbox css-checkbox-primary" style="float:left; margin-left:10px;">
                                                            <input type="checkbox" id="select-all" name="select-all" style="border-right:1px solid #d3d3d3;margin-right:10px;" onchange="SelectAll(this);"><span></span>
                                                        </label>
                                                        {% endif %}
                                                        <input class="form-control contact" style="box-sizing: border-box;{% if loop.first %}width:70%;{% else %}width:90%;{% endif %} border:none;" type="text" id="{{ col['name'] }}" name="{{ col['name'] }}" value="{{ col['name']|column_filter }}" onblur="UpdateTable(this);" />
                                                            <div class="input-group-btn text-center">
                                                            <button class="btn btn-default" data-toggle="dropdown" type="button" aria-expanded="false"><span class="caret"></span></button>
                                                            <ul class="dropdown-menu dropdown-menu-right" style="min-width:250px;">
                                                                <li style="padding:10px;"><span class="font-w300">Field Type</span></li>
                                                                <li class="divider"></li>
                                                                {% for type in types %}
                                                                    <li style="cursor:pointer;padding:10px;position:sticky;z-index:700;" onclick="SetColumnType('{{ col["name"] }}', '{{ type['type'] }}');">
                                                                        <span class="font-w300">{{ type['name'] }}</span>
                                                                    </li>
                                                                {% endfor %}
                                                                <li style="cursor:pointer;padding:10px;position:sticky;z-index:700;" onclick="DeleteColumn(this);">
                                                                    <span class="font-w300" style="color:red"><i class="fa fa-trash-o" style="margin-right:10px;"></i>Delete column</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        {% endfor %}
                                        <th class="font-w300 text-center sorting_asc_disabled sorting_desc_disabled" id="add-column" style="cursor:pointer;min-width:100px;padding-left:20px;padding-right:20px;margin-right:40px;" onclick="CreateNewColumn()"><i class="si si-plus" style="width:50%;margin:0 auto;float:none;"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                    {% for row in rows|sort(attribute='created_on') %}
                                        <tr id="row_{{ row['id'] }}">
                                            {% for col in cols %}
                                                <td class="font-w300" style="background-color:white;vertical-align:middle;min-width:300px;{% if loop.first %}padding:0 0 0 10px;position:sticky;left:0;z-index:700;{% else %}padding:0; !important;{% endif %}">
                                                    {% if loop.first %}
                                                        <label class="css-input css-checkbox css-checkbox-primary" style="margin-left:10px;">
                                                            <input type="checkbox" class="select-box" id="{{ row['id'] }}" name="{{ row['id'] }}_select" style="border-right:1px solid #d3d3d3;margin-right:10px;" onchange="RowSelected()"><span></span>
                                                        </label>
                                                    {% endif %}
                                                    <input class="form-control contact" style="box-sizing: border-box;{% if loop.first %}width:80%;{% else %}width:100%;{% endif %} border:none;" type="text" id="{{ row['id'] }}" name="{{ col['name'] }}" value="{{ row[col['name']] }}" onblur="return UpdateTable(this);" />
                                                </td>
                                            {% endfor %}
                                            <td style="display:none" disabled="disabled"></td>
                                        </tr>
                                    {% endfor %}
                                        <!-- Add a blank row at the bottom -->
                                        <tr id="row_{{ new_row_id }}">
                                            {% for col in cols %}
                                                <td class="font-w300" style="background-color:white;vertical-align:middle;min-width:300px;{% if loop.first %}padding:0 0 0 10px;position:sticky;left:0;z-index:700;{% else %}padding:0; !important;{% endif %}">
                                                    {% if loop.first %}
                                                        <i class="si si-plus" style="padding-left:10px;cursor:pointer;" onclick="AddRow();"></i>
                                                        <input class="form-control contact" style="box-sizing: border-box;width:80%; border:none;" type="text" id="" name="" value="" onblur="UpdateTable(this);" />
                                                    {% else %}
                                                        <input class="form-control contact" style="box-sizing: border-box;width:100%; border:none;" type="text" id="" name="" value="" onblur="UpdateTable(this);" />
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                            <td style="display:none" disabled="disabled"></td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END Dynamic Table Full Pagination -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix" style="background-color:#0073ff">
                <div class="pull-right">
                    <a href="{{ url_for('user.contact') }}">Contact Us</a> | <a href="{{ url_for('page.privacy') }}">Privacy Policy</a> | <a href="{{ url_for('page.terms') }}">Terms of Service</a>
                </div>
                <div class="pull-left">
                    <a class="font-w600" href="http://goo.gl/6LF10W" target="_blank">OneUI 3.1</a> &copy; <span class="js-year-copy"></span>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->
        <div class="modal fade" id="apps-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-sm modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <!-- Apps Block -->
                    <div class="block block-themed block-transparent">
                        <div class="block-header bg-primary-dark">
                            <ul class="block-options">
                                <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">Apps</h3>
                        </div>
                        <div class="block-content">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <a class="block block-rounded" href="base_pages_dashboard.html">
                                        <div class="block-content text-white bg-default">
                                            <i class="si si-speedometer fa-2x"></i>
                                            <div class="font-w600 push-15-t push-15">Backend</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="block block-rounded" href="frontend_home.html">
                                        <div class="block-content text-white bg-modern">
                                            <i class="si si-rocket fa-2x"></i>
                                            <div class="font-w600 push-15-t push-15">Frontend</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Apps Block -->
                </div>
            </div>
        </div>
        <!-- END Apps Modal -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src="../../../../static/oneui/assets/js/core/jquery.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/bootstrap.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.appear.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.countTo.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/jquery.placeholder.min.js"></script>
        <script src="../../../../static/oneui/assets/js/core/js.cookie.min.js"></script>
        <script src="../../../../static/oneui/assets/js/app.js"></script>

        <!-- Page JS Plugins -->
        <script src="../../../../static/oneui/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>

        <!-- Page JS Code -->
        <script src="../../../../static/oneui/assets/js/pages/base_tables_datatables.js"></script>

        <script type="text/javascript">
            // Updates the table after a change. Use JQuery.
            function UpdateTable(sel) {
                var row_id = sel.id;
                var col_name = sel.name;
                var val = sel.value;
                $.ajax({
                    url: '{{ url_for("user.update_table") }}',
                    type: 'POST',
                    data: {'row': row_id, 'col': col_name, 'val': val},
                    success: function (response) {
                        if ('result' in response && response['result'] === true){
                            var message = document.getElementById('success-message');
                            message.innerText = 'Table updated successfully.';
                            message.style.visibility = 'visible';
                            setTimeout(() => {  HideSuccessMessage(); }, 4000);
                        }
                    }
                });


            }
            function AddRow() {
                var tbl = document.getElementById('table');
                var rows = tbl.rows;
                var last_row = rows[rows.length - 1];
                var second_last_row = rows[rows.length - 2].cells[0];
                var new_row = last_row.cloneNode(true);

                // remove the 'new' button from the former last row
                // and clone it from the one before it
                last_row.getElementsByTagName('i')[0].remove();
                last_row.cells[0].innerHTML = second_last_row.innerHTML;

                // Set the former last row's value to null
                last_row.cells[0].getElementsByTagName('input')[1].value = '';

                //last_row.getElementsByTagName('input')[0].style.width = '100%';

                // Generate an ID for the new row
                $.ajax({
                    url: '{{ url_for("user.new_row_id") }}',
                    type: 'GET',
                    success: function (response) {
                        if ('result' in response && response['result'] !== null){
                            new_row.id = 'row_' + response['result'];

                            // Save the new row to the DB
                            $.ajax({
                                url: '{{ url_for("user.save_new_row") }}',
                                type: 'POST',
                                data: {'row-id': response['result']},
                                success: function (response) {
                                }
                            });
                        }
                    }
                });

                document.getElementById('table-body').appendChild(new_row);
            }
        </script>
        <script type="text/javascript">
            function CreateNewColumn() {

                // Clone the add button, and delete it
                var add_column_node = document.getElementById('add-column');
                var new_add_button = add_column_node.cloneNode(true);
                add_column_node.remove();

                // add the new column to the table
                var tbl = document.getElementById('table'), i;
                var rows = tbl.rows;

                // Create the header
                var new_header = CreateHeaderColumn(tbl);

                // open loop for each row and append cell
                for (i = 1; i < rows.length; i++) {
                    CreateRowCell(tbl.rows[i])
                }

                // re-add the new column button
                tbl.rows[0].appendChild(new_add_button);

                new_add_button.focus();
                new_header.focus();
            }

            function CreateRowCell(row){
                var cells = row.cells;
                var new_cell = cells[0].cloneNode(true);
                new_cell.getElementsByTagName('input')[0].value = '';
                var hidden_cell = cells[cells.length - 1].cloneNode(true);
                hidden_cell.remove();

                row.appendChild(new_cell);
                row.appendChild(hidden_cell);
            }

            function CreateHeaderColumn(tbl){
                var h = document.createElement('th');
                h.style.cssText = "padding:0 !important;vertical-align:middle;min-width:300px;";
                h.className = 'font-w300';

                var input = document.createElement('input');
                input.style.cssText = "box-sizing: border-box;width:100%; border:none;";
                input.className = 'form-control contact';

                h.appendChild(input);
                tbl.rows[0].appendChild(h);

                return input;
            }

            function FocusAddColumnButton(){
                var add_column_node = document.getElementById('add-column');
                add_column_node.focus();
            }

            function TableScroll(){
                document.getElementsByClassName('col-sm-12')[0].style.cssText = "overflow-x:scroll;min-height:600px;";
                document.getElementById('table_info').style.cssText = "padding-left:10px;";
            }

            function SetColumnType(sel, type){
                var col = document.getElementById(sel);
                col.type = type;
            }

            function HideSuccessMessage() {
                document.getElementById('success-message').style.visibility = 'hidden';
            }

            function SelectAll(sel) {
                var checkboxes = document.getElementsByClassName('select-box');
                if (sel.checked){
                    for(var i = 0; i < checkboxes.length; i++){
                        checkboxes[i].checked = true;
                    }

                    // Show the delete selected button
                    document.getElementById('selected_rows').innerText = document.querySelectorAll('input[class=select-box]:checked').length;
                    document.getElementById('delete-selected').style.visibility = 'visible';
                }
                else{
                    for(var i = 0; i < checkboxes.length; i++){
                        checkboxes[i].checked = false;
                    }

                    // Hide the delete selected button
                    document.getElementById('delete-selected').style.visibility = 'hidden';
                }
            }

            function RowSelected() {
                var checkboxes = document.getElementsByClassName('select-box');
                var box_selected = false;
                for(var i = 0; i < checkboxes.length; i++){
                    if (checkboxes[i].checked === true){
                        box_selected = true;
                    }
                }

                if (box_selected){
                    document.getElementById('selected_rows').innerText = document.querySelectorAll('input[class=select-box]:checked').length;
                    document.getElementById('delete-selected').style.visibility = 'visible';
                }
                else {
                    document.getElementById('delete-selected').style.visibility = 'hidden';
                }
            }

            function DeleteRows(){
                var checkedBoxes = [].slice.call(document.querySelectorAll('input[class=select-box]:checked'));
                var count = checkedBoxes.length;

                var rows_to_delete = [];
                for (var i = 0; i < count; i++){
                    rows_to_delete.push(checkedBoxes[i].id);
                }

                if (confirm("Are you sure you want to delete " + count + " rows? This can't be undone.")){
                    // Delete the rows
                    $.ajax({
                        url: '{{ url_for("user.delete_rows") }}',
                        type: 'POST',
                        data: {'rows': JSON.stringify(rows_to_delete)},
                        success: function (response) {
                            window.location.href='{{ url_for('user.dashboard') }}';
                        }
                    });
                }
            }
        </script>
    </body>
</html>